name: CI Advanced MLflow

on:
  push:
    branches: ["main"]

jobs:
  mlflow-advanced:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.12.7"

    - name: Install dependencies
      run: |
        pip install mlflow

    # === BASIC + SKILLED ===
    - name: Run MLflow Project
      run: |
        mlflow run .

    - name: Upload MLflow Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: mlflow-artifacts
        path: mlruns/

    # === ADVANCE (INI KUNCINYA) ===
    - name: Build Docker Image with MLflow
      run: |
        mlflow models build-docker \
          -m mlruns \
          -n ${{ secrets.DOCKER_USERNAME }}/workflow-ci-ml

    - name: Login Docker Hub
      uses: docker/login-action@v4
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/workflow-ci-ml
