name: CI MLflow Advanced

on:
  push:
    branches: ["main"]

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.12.7
        uses: actions/setup-python@v5
        with:
          python-version: "3.12.7"

      - name: Check Env
        run: |
          python --version
          pip --version

      - name: Install dependencies
        run: |
          pip install mlflow==2.18.0 dagshub

      - name: Run MLflow Project
        env:
          DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          mlflow run MLProject

      - name: Get latest MLflow run_id
        env:
          MLFLOW_TRACKING_URI: https://dagshub.com/ekasandyaulia-lgtm/SMLS_Eka_Sandy_Aulia_Puspitasari.mlflow
        run: |
          echo "RUN_ID=$(mlflow runs list --experiment-name Titanic-Advanced-Tuning --max-results 1 | tail -n 1 | awk '{print $1}')" >> $GITHUB_ENV

      - name: Login Docker Hub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
            -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker Model
        run: |
          mlflow models build-docker \
            -m runs:/${{ env.RUN_ID }}/model \
            -n ekasandy/titanic-mlflow:latest

      - name: Push Docker Image
        run: docker push ekasandy/titanic-mlflow:latest
