name: CI Advanced MLflow

on:
  push:
    branches: ["main"]

jobs:
  mlflow-advance:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow scikit-learn pandas numpy matplotlib seaborn dagshub

    - name: Verify MLflow
      run: |
        mlflow --version

    - name: Run MLflow Project
      run: |
        mlflow run MLProject
